
body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.5;

}

h1 {
    background-color: #333333;
    color: #eee;
    font-size: 28px;
    padding: 15px;
    text-align: center;

}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: 0 auto;

}

#main-bio, 
#contact-info,
#bio-image {
    float: left;
}

#bio-image {
    width: 200px;
}

#main-bio {
    width: 70%;
}

#bio-image {
    margin: 10px;
}

#contact-info {
    width: 30%;
}

a {
    color: #d21034;
}

